################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################
.vs
/.vs
/HotelBahia.BussinesLogic/bin
/HotelBahia.BussinesLogic/obj
/HotelBahia.DataAccess/bin
/HotelBahia.DataAccess/obj
/HotelBahia.Presentacion.Web/bin
/HotelBahia.Presentacion.Web/obj